//Login and signup
$colorNotClicked: #2c3e50;
$colorClicked: #42b983;
$title: black;
$white: white;
$spacer: 0.5rem;
$danger: rgba(94, 3, 3, 0.781);
$succes: green;
$cd-txt: rgb(24, 43, 73);
$cd-txt-opacity: rgba(26, 53, 87, 0.2);
$cd-txt--invalid: #fff;
$cd-txt-btn--before: black;
$cd-txt-btn--after: white;
$bg-btn--before: white;
$bg-btn--after: #343a41;
$shake-intensity: 1%;